    {{!-- <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div> --}}

		<!-- Wrapper -->
			<div id="wrapper">

    				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
							<div class="inner">
								{{!-- <h1>New Money Teacher</h1> --}}
								<p>Have you bought a coffee using bitcoins? Or a car?
                <br/>Our mission is to teach 1000 people about "new money" 
                <br/>by having them actually use it.</p>
                <p>As of 2017-Oct-9 we have taught 0 people
                <br/>But we are on it :-)
                </p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#work">Work</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#contact">Contact</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

{{!-- 

<div id="ember-welcome-page-id-selector" data-ember-version="{{emberVersion}}">
  <div class="columns">
    <div class="tomster">
      <img src="assets/evolution-of-currency.png" alt="Evolution of currency">
      <img src="ember-welcome-page/images/construction.png" alt="Under construction">
    </div>
    <div class="welcome">
      <h2 id="title">New Money Teacher</h2>

      <p>Our mission is to teach people about new money by having them actually use it.</p>
      <p>Our goal to meet a 1000 people in-person and have them...</p>
      <ol>
        <li>buy their first coffee, first uber ride and first music concert using bitcoins</li>
        <li>clearly understand the technological concepts of how new money (i.e crypto currencies) work, and have all thier questions answered</li>
        <li>understand future potential and risk of using new money</li>
      </ol>
    </div>
  </div>
    <p class="postscript">Every informed person needs to know about Bitcoin<br/>because it might be one of the world's most important developments. <br/>-- Leon Louw, Nobel Peace Prize Nominee</p>
</div>

 --}}

{{outlet}}