<div id="ember-welcome-page-id-selector" data-ember-version="{{emberVersion}}">
  <div class="columns">
    <div class="tomster">
      <img src="assets/evolution-of-currency.png" alt="Evolution of currency">
      {{!-- <img src="ember-welcome-page/images/construction.png" alt="Under construction"> --}}
    </div>
    <div class="welcome">
      <h2 id="title">New Money Teacher</h2>

      <p>Our mission is to teach people about new money by having them actually use it.</p>
      <p>Our goal to meet a 1000 people in-person and have them...</p>
      <ol>
        <li>buy their first coffee, first uber ride and first music concert using bitcoins</li>
        <li>clearly understand the technological concepts of how new money (i.e crypto currencies) work, and have all thier questions answered</li>
        <li>understand future potential and risk of using new money</li>
      </ol>
    </div>
  </div>
    <p class="postscript">Every informed person needs to know about Bitcoin<br/>because it might be one of the world's most important developments. <br/>-- Leon Louw, Nobel Peace Prize Nominee</p>
</div>


{{outlet}}